* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* estilização da tela de login*/

#body-login {
    background-color: #fffcf7;
    overflow-y: hidden;
}

#titulo-site{
    width: 30%;
    margin-left: 40%;
}

#titulo-site img{
    width: 60%;
}

#img-login{
    float: left;
    width: 50%;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
}

#img-login img{
    width: 110%;
}

#login-side{
    float: right;
    width: 48%;
    margin-top: 15%
}

.container {
    width: 45%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container label{
    font-size: 90%;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 3%;
    margin: 1% 0;
    display: inline;
    border: 1px solid #c9c8c8;
    box-sizing: border-box;
    border-radius: 2%;
}

input[type="submit"] {
    background-color: #ebb34b;
    color: rgb(70, 69, 69);
    border: none;
    cursor: pointer;
    font-size: 90%;
    width: 40%;
    margin-left: 30%;
}

input[type="submit"]:hover {
    background-color: #db9005;
    color: rgb(0, 0, 0);
}

#criarConta {
    margin-top: 1%;
    width: 50%;
    margin-left: 47%;
}

#criarConta a {
    text-decoration: none;
    color: #db9005;
}

#criarConta a:hover {
    color: #a36b02;
    font-weight: bold;
}

/* Estilização do alerta de confirmação apresentado ao fazer login*/

.alerta {
    padding: 1%;
    background-color: #32db7383;
    color: rgb(90, 89, 89);
    text-align: center;
  }
  
  .fechar-alerta {
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    padding: 1%;
    font-size: 35px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .fechar-alerta:hover {
    color: rgb(155, 0, 0);
  }

/* Estilos gerais */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffcf7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
}

header img{
    margin-left: 40%;
    padding: 3%;
}

#texto-sobre{
    background-color: #ffe1b9;
    padding-bottom: 5%;
    padding-top: 5%;
}

header p {
    width: 60%;
    margin-left: 20%;
    font-size: 100%;
    text-align: justify;
}

#img-home{
    width: 100%;
    height: auto;
}

main {
    padding: 0%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 2%;
    height: 30em;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}

#servicos {
    margin-bottom: 1%;
    padding: 0%;
    background-color: #ffffff;
}
h2 {
    font-size: 2em;
    padding: 2.5%;
    font-weight: bolder;
    text-align: center;
}

.row p{
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%
}

form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #7d7875;
    color: #fff;
    padding: 10%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    color: #eaf0e4;
}

footer {
    background-color: #5e5d5d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 10%;
}

#cta-orcamento{
    text-align: center;
    margin: 3%;
    font-size: 1.3em;
}

#orcamento {
    width: 30%;
    background-color: #859e86;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 1.5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 3% auto;
    border: 3px solid transparent;
}

#orcamento:hover {
    background-color: #619263;
    border: 3px solid #8f8f8f;
}

/* TELA ORÇAMENTO*/

#logo-orcamento{
    float: left;
    width: 12%;
    margin-left: -1%;
    margin-top: -1%;
}

.header-orcamento{
    width: 100%;
    height: auto;
    float: left;
}

.header-orcamento h2{
    float: left;
    margin-left: 30%;
}

.selecionar-opcao{
    float: left;
    width: 100%;
    height: auto;
    background-color: #efffe8;
    margin-bottom: 1%;
    margin-top: 1%;
    border-bottom: 2px dotted #567a14;
}

.selecionar-opcao p{
    margin-left: 38%;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}

.selecionar-opcao img{
    float: left;
    width: 11%;
    height: auto;
    margin-top: 3.5%;
    margin-left: 5%;
}

.selecionar-opcao input{
    margin-left: 33%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#msg-plataforma{
    color:rgb(105, 143, 80);
    font-size: 14px;
    font-weight: bold;
    margin-left: 40%;
    padding: 0.5%;
}

#msg-tipoteste{
    color:rgb(105, 143, 80);
    font-size: 14px;
    font-weight: bold;
    margin-left: 40%;
    padding: 0.5%;
}

#msg-continuar{
    color:rgb(204, 50, 12);
    font-size: 12px;
    font-weight: bold;
    margin-left: -18%;
    padding: 0.5%;
}

#validacoes-humanos{
    color:rgb(204, 50, 12);
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-left: 42%;
    padding: 0.5%;
}

#componenteContinuar{
    width: auto;
    float: left;
    margin-left: 47%;
    cursor: pointer;
}

#componenteContinuar p{
    font-weight: bold;
    font-size: 16px;
}

#seta-continuar{
    width: 5%;
    margin-left: 10%;
}

#tipos-teste{
    display: hidden;
}

#perguntasHumanos label{
    float: left;
    margin-left: 32%;
}

#perguntasHumanos input{
    float: right;
    margin-right: 45%;
    width: 3%;
    height: 20px;
}

#resultado{
    padding: 0.5%;
    float: left;
    margin-left: 47%;
    height: 30%;
    font-size: 28px;
    font-weight: bolder;
}

#body-cadastro{
    background-color: transparent;
}

#cadastroForm{
    width: 60%;
    float: left;
    margin-left: 1%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 2%;
    margin-top: 0%;
    border: none;
    text-align: center;
}

#cadastroForm input[type="text"],
#cadastroForm input[type="password"],
#cadastroForm input[type="email"],
#cadastroForm select{
    width: 50%;
    padding: 1%;
    margin: 1%;
    display: inline;
    border: 2px solid #ebbe7c;
}

#cadastroForm label{
    font-weight: bold;
    font-size: 16px;
    color: #5a5757;
}

#botaoCadastrar {
    float: right;
    display: block;
    margin-right: 30%;
    background-color: #ebb34b;
    color: rgb(70, 69, 69);
    cursor: pointer;
    font-size: 120%;
    width: 30%;
    margin-left: 8%;
    padding: 2%;
}

#botaoCadastrar:hover {
    background-color: #db9005;
    color: rgb(0, 0, 0);
}

#side-img{
    width: 35%;
    float: right;
    margin-top: -3%;
}

#side-img img{
    width: 100%;
}

#repSenha{
    float: left;
    margin-left: 20%;
}

#repitaSenha{
    float: left;
}

.error-message{
    display: hidden;
    display: block;
    margin: -0.8%;
}

#repitaSenhaError{
    margin-top: 1%;
}

#successMessage{
    float: left;
    color: #187918;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 45%;

}