* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* estilização da tela de login*/

#body-login {
    background-color: #fffcf7;
}

#titulo-site{
    width: 30%;
    margin-left: 40%;
}

#titulo-site img{
    width: 60%;
}

#img-login{
    float: left;
    width: 25%;
    height: auto;
    margin-top: 15%;
    margin-left: 15%;
}

#img-login img{
    width: 100%;
    border-radius: 30%;
}

#login-side{
    float: left;
    width: 60%;
    margin-top: 10%
}

.container {
    width: 45%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container label{
    font-size: 90%;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 3%;
    margin: 1% 0;
    display: inline;
    border: 1px solid #c9c8c8;
    box-sizing: border-box;
    border-radius: 2%;
}

input[type="submit"] {
    background-color: #ebb34b;
    color: rgb(70, 69, 69);
    border: none;
    cursor: pointer;
    font-size: 90%;
    width: 40%;
    margin-left: 30%;
}

input[type="submit"]:hover {
    background-color: #db9005;
    color: rgb(0, 0, 0);
}

#criarConta {
    margin-top: 1%;
    width: 50%;
    margin-left: 47%;
}

#criarConta a {
    text-decoration: none;
    color: #db9005;
}

#criarConta a:hover {
    color: #a36b02;
    font-weight: bold;
}

/* Estilização do alerta de confirmação apresentado ao fazer login*/

.alerta {
    padding: 1%;
    background-color: #32db7383;
    color: rgb(90, 89, 89);
    text-align: center;
  }
  
  .fechar-alerta {
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    padding: 1%;
    font-size: 35px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .fechar-alerta:hover {
    color: rgb(155, 0, 0);
  }

/* Estilos gerais */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffcf7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
}

header img{
    margin-left: 40%;
    padding: 3%;
}

#texto-sobre{
    background-color: #ffe1b9;
    padding-bottom: 5%;
    padding-top: 5%;
}

header p {
    width: 60%;
    margin-left: 20%;
    font-size: 100%;
    text-align: justify;
}

#img-home{
    width: 100%;
    height: auto;
}

main {
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: #7d7875;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: #eaf0e4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

/* Estilização para os serviços */
.servico {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 5px;
}

.servico h3 {
    font-size: 24px;
}

.servico p {
    font-size: 16px;
}

#contato h2{
    text-align: center;
    padding: 1%;
}

#formulario-contato label {
    display: inline-block; /* Permite que os rótulos fiquem na mesma linha */
    margin-top: 10px;
    font-weight: bold;
    text-align: center; /* Centraliza o texto */
    width: 45%; /* Define a largura dos rótulos */
}

#formulario-contato input[type="text"],
#formulario-contato input[type="email"],
#formulario-contato select,
#formulario-contato textarea {
    display: inline-block; /* Permite que os campos fiquem na mesma linha */
    margin-top: 10px;
    width: 45%; /* Define a largura dos campos */
    text-align: center; /* Centraliza o texto */
}

#formulario-contato {
    background-color: #eaf0e4;
    padding: 2%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    width: 50%; /* Ocupa 50% da largura da página */
    margin: 0 auto; /* Centraliza o formulário na página */
}

#formulario-contato label {
    display: inline-block; /* Permite que os rótulos fiquem na mesma linha */
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    width: 45%; /* Define a largura dos rótulos */
}

#formulario-contato input[type="text"],
#formulario-contato input[type="email"],
#formulario-contato select,
#formulario-contato textarea,
#formulario-contato input[type="number"],
#formulario-contato input[type="radio"],
#formulario-contato input[type="text"] {
    width: 50%; /* Define a largura dos campos de entrada */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

#formulario-contato label[for="outros-especificar"] {
    display: inline-block;
    text-align: left;
    width: 45%; /* Define a largura do rótulo "Especificar" */
}

#formulario-contato input[type="radio"] + label[for="outros"] {
    display: inline-block;
    text-align: left;
    width: auto; /* Ajusta a largura dos rótulos dos radios */
}

#formulario-contato input[type="radio"]:checked + label[for="outros"] + input[type="text"] {
    display: inline-block;
    margin-top: 5px;
    text-align: left;
    width: 45%; /* Define a largura do campo "Especificar" */
}

#formulario-contato button {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block; /* Faz o botão ocupar toda a largura disponível */
    margin: 3% auto; /* Adiciona um espaço abaixo do botão */
    border: 2px solid transparent;
}

#formulario-contato button:hover {
    background-color: #859e86;
    color: #fff;
    border: 2px solid #fff;
}


#formulario-humanos {
    background-color: #eaf0e4;
    padding: 2%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    width: 50%; /* Ocupa 50% da largura da página */
    margin: 0 auto; /* Centraliza o formulário na página */
}

#formulario-humanos label {
    display: inline-block; /* Permite que os rótulos fiquem na mesma linha */
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    width: 45%; /* Define a largura dos rótulos */
}

#formulario-humanos input[type="text"],
#formulario-humanos input[type="email"],
#formulario-humanos select,
#formulario-humanos textarea,
#formulario-humanos input[type="number"],
#formulario-humanos input[type="radio"],
#formulario-humanos input[type="text"] {
    width: 50%; /* Define a largura dos campos de entrada */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

#formulario-humanos label[for="outros-especificar"] {
    display: inline-block;
    text-align: left;
    width: 45%; /* Define a largura do rótulo "Especificar" */
}

#formulario-humanos input[type="radio"] + label[for="outros"] {
    display: inline-block;
    text-align: left;
    width: auto; /* Ajusta a largura dos rótulos dos radios */
}

#formulario-humanos input[type="radio"]:checked + label[for="outros"] + input[type="text"] {
    display: inline-block;
    margin-top: 5px;
    text-align: left;
    width: 45%; /* Define a largura do campo "Especificar" */
}

#formulario-humanos button {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block; /* Faz o botão ocupar toda a largura disponível */
    margin: 3% auto; /* Adiciona um espaço abaixo do botão */
    border: 2px solid transparent;
}

#formulario-humanos button:hover {
    background-color: #859e86;
    color: #fff;
    border: 2px solid #fff;
}

/* pagina de erro */

#error-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.robot-image img {
    max-width: 60%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.error-message h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.error-message p {
    font-size: 16px;
}

/* Estilos adicionais para o robô */
.robot-image img {
    border-radius: 10%;
}

/* Estilos adicionais para o erro */
#error-page {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilização do título h1 */
.error-message h1 {
    color: #ff6347; /* Cor de destaque */
}

